<!DOCTYPE html>

{% extends 'main/base.html' %}

{% block title %}
  Create New List
{% endblock %}


{% block content %}
  

  <!-- If the user has logged in. -->
  {% if user.is_authenticated %}

    <h3>Create a New List</h3>

    <!-- "post" indicates this form is used to submit data. "/create/" specifies the URL to which the form data will be sent when the form is submitted. -->
    <form method="post" action="/create/" class="form-group">

      <!-- Everytime we create a form in Django, we need to add this line. -->
      {% csrf_token %}

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button type="submit" name="save" class="btn btn-success">Create New</button>
        </div>
        {{form.name}}
      </div>
    </form>

  <!-- If the user hasn't logged in. -->
  {% else %}
    <p>Please Login <a href="/login">here</a> first.</p>

  {% endif %}
{% endblock %}